<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-row class="ion-align-items-center" class="ion-padding ion-margin">
  <ion-col offset=2>
    <ion-title color="primary">Welcome {{ user }}!</ion-title>
  </ion-col>
</ion-row>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset=2 size=8>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ this.date | date : fullDate }}</ion-card-subtitle>
            <ion-card-title>Today's Energy Production</ion-card-title>
          </ion-card-header>

          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
