<ion-header style="height: 7%; background-color: var(--ion-color-primary)">
</ion-header>
<!-- <ion-row class="ion-align-items-center" class="ion-padding ion-margin">
  <ion-col offset=2>
    <ion-title color="primary">Welcome {{ user }}!</ion-title>
  </ion-col>
</ion-row> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset-lg="1">
        <h2 style="font-size: 28px">Welcome Evolution Fitness</h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col offset="1">
        <h2 style="font-size: 26px">
          Total Energy Production Today:
          <ion-label style="font-size: 30px; color: var(--ion-color-success)"
            >7.2 kWh</ion-label
          >
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="1" size="10">
        <ion-card>
          <ion-card-header>
            <!-- <ion-card-subtitle>{{ this.date | date : fullDate }}</ion-card-subtitle> -->
            <ion-card-title>Today's Energy Production</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <canvas #lineChart1></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
