<ion-app>
  <ion-split-pane when="md" contentId="content" class="split-pane">
  <ion-menu side="start" contentId="content" #menu menuId="m1">
    <ion-header>
      <ion-toolbar class="toolbar" color="primary">
        <ion-title>Sweatricity</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list detail="false">
        <ion-menu-toggle auto-hide="false">
        <ion-item lines="none" detail="false" routerLink="/home">
          <ion-icon name="today-outline" slot="start"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" detail="false" routerLink="/analytics">
          <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
          <ion-label>Analytics</ion-label>
        </ion-item>
      </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item lines="none" detail="false" (click)="onLogout()" button>
        <ion-icon name="exit" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" #routerOutlet main></ion-router-outlet>
</ion-split-pane>
</ion-app>
